# binary objects directory stored in dreamobject
assets/

# pelican output directory
output/

# config file for locally building the website
config.yml

# python build files
__pycache__/

# cache
cache/
