name: Build Website

on:
  push:
    branches: source
  pull_request:
    branches: source

jobs:
  build:

    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pelican pyyaml beautifulsoup4 ghp-import
        git clone --depth=1 --single-branch --branch mechmotum https://github.com/mechmotum/pelican-alchemy.git
        git clone --depth=1 https://github.com/getpelican/pelican-plugins.git
    - name: Build the website
      run: |
        pelican -D -v -s publishconf.py -o output
    - name: Deploy the website
      run: |
        git config --global user.name "Github Actions"
        git config --global user.email mechmotum@users.noreply.github.com
        git remote add deploy "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/mechmotum/mechmotum.github.io.git"
        git fetch deploy
        ghp-import -r deploy -b master -m "Updated via Github Actions" output
